<footer class="footer">
  <div class="footer-content">
    <div class="footer-info">
      <h4>Balans Med</h4>
      <p>Gabinety psychiatryczno-terapeutyczne.</p>
      <p>&copy; {{currentYear}} Balans Med. Wszelkie prawa zastrzeżone.</p>
    </div>
    <div class="footer-contact">
      <h4>Kontakt</h4>
      <p><i class="fas fa-map-marker-alt"></i> ul. Przemiarki 23/10, 30-348 Kraków</p>
      <p><i class="fas fa-phone-alt"></i> + 48 889 412 421</p>
      <p><i class="fas fa-envelope"></i> balansmed.rejestracja&#64;gmail.com</p>
    </div>
    <div class="footer-social">
      <h4>Obserwuj nas</h4>
      <div class="social-icons">
        <a href="https://www.facebook.com/profile.php?id=61576003269199" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
      </div>
    </div>
    <div class="footer-links">
      <h4>Dokumenty</h4>
      <ul>
        <li><a routerLink="/standardy-ochrony" aria-label="Standardy ochrony małoletnich">Standardy ochrony</a></li>
        <li><a routerLink="/regulamin" aria-label="Regulamin organizacyjny">Regulamin</a></li>
        <li><a routerLink="/polityka-prywatnosci" aria-label="Polityka prywatności">Polityka prywatności</a></li>
      </ul>
    </div>
  </div>
</footer>
