<div class="contact-container">
  <div class="container">
    <h1 class="contact-title">Kontakt</h1>

    <div class="contact-content">
      <div class="contact-info">
        <div class="info-card">
          <h2>{{ clinicInfo.name }}</h2>
          <div class="info-item">
            <i class="fa fa-map-marker"></i>
            <p>
              {{ clinicInfo.address.street }}<br />{{ clinicInfo.address.zipCode }}
              {{ clinicInfo.address.city }}
            </p>
          </div>
          <div class="info-item">
            <i class="fa fa-phone"></i>
            <p>{{ clinicInfo.contact.phone }}</p>
          </div>
          <div class="info-item">
            <i class="fa fa-envelope"></i>
            <p>{{ clinicInfo.contact.email }}</p>
          </div>
        </div>

        <div class="info-card">
          <h3>Godziny otwarcia</h3>
          <div class="hours-list">
            <div *ngFor="let schedule of clinicInfo.hours" class="hours-item">
              <span class="day">{{ schedule.day }}</span>
              <span class="hours">{{ schedule.hours }}</span>
            </div>
          </div>
        </div>

        <div class="info-card">
          <h3>Sposób rezerwacji</h3>
          <div class="info-item">
            <p>
              Znany lekarz:
         
            <a class="zl-facility-url" href="https://www.znanylekarz.pl/placowki/balans-med" rel="nofollow" target="_blank"  
              data-zlw-facility="balans-med" data-zlw-type="facility-big-with-saas-only" 
              data-zlw-saas-only="true" data-zlw-a11y-title="Widget umówienia wizyty lekarskiej">
              Balans-Med
            </a>
            <div id="zl-widget-container"></div>
    
          </div>
          <div class="info-item">
            <p>{{ clinicInfo.reservation.phone }}</p>
          </div>
        </div>
      </div>

      <div class="map-container">
        <iframe
          [src]="clinicInfo.mapLocation | safe"
          width="100%"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>
  </div>
</div>
